<!DOCTYPE html>
<html lang="de" data-bs-theme="dark">

<head>
	<meta charset="UTF-8">
	<meta name="htmx-config" content='{"selfRequestsOnly": false}' />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>MindForge</title>
	<script src="./htmx.min.js"></script>
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
	<link rel="stylesheet" href="./customstyles.css">
</head>

<body>
	<div class="app-layout d-flex min-vh-100">
		<div hx-get="/components/Sidebar.html" hx-trigger="load" hx-swap="outerHTML"></div>

		<div id="main-content" class="flex-grow-1 p-4 bg-body-secondary">
			<div hx-get="/views/main/index.html" hx-trigger="load" hx-swap="outerHTML"></div>
		</div>
	</div>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>